.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #a5eaff;

    .userData {
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }
    }

    .usename {
        div {
            font-size: 14px;
        }
    }

    .icon {
        position: relative;
        width: 11vw;
        height: 8vw;
        max-width: 70px;
        max-height: 50px;
    }
}
