$primary-1: #1389d1;
$primary-2: #9757d7;
$primary-3: #ff6838;
$primary-4: #2cae39;

$secondary-1: #959fc1;
$secondary-2: #ffd166;
$secondary-3: #ebd6f8;

$neutrals-1: #141416;
$neutrals-2: #23262f;
$neutrals-3: #353945;
$neutrals-4: #777e90;
$neutrals-5: #b1b5c3;
$neutrals-6: #e6e8ec;
$neutrals-7: #f4f5f6;
$neutrals-8: #fcfcfd;

$danger-1: rgb(255, 79, 79);

$dark-blue: #2a3b56;
$grey-light: #edf0f5;
$light: #ffffff;
