@import './variables';

.container {
    background-image: url('../assets/images/bg-main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mainWheel {
    position: relative;
    z-index: 100;
    width: 95vw;
    height: 95vw;
    max-width: $maxWidthWheel;
    max-height: $maxWidthWheel;
    margin: 10px auto;
    border-radius: 50%;
}

.linkHistory {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    .icon {
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.message {
    font-size: 40px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    animation: showMsg 2s forwards;
    white-space: nowrap;
}

@keyframes showMsg {
    0% {
        opacity: 1;
        margin-top: 0;
    }

    100% {
        opacity: 0;
        margin-top: -100px;
    }
}
